ConsoleApplication/.vs/
ConsoleApplication/ConsoleApplication/obj/
ConsoleApplication/ConsoleApplication/bin/
ConsoleApplication/Common/obj/
ConsoleApplication/Common/bin/
ConsoleApplication/Tests/obj/
ConsoleApplication/Tests/bin/
/.vs